@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-ExtraLight.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-ExtraLightItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Light.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-LightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-ExtraBold.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}


* {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: auto;
  display: flex;
  margin: 0 auto;
  font-family: Raleway;
}

.right-block {
  height: auto;
  width: 100%;
}

.left-block {
  width: 78px;
  height: 100vh;
  background-color: white;

}

.side-menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu {
  margin: 40px auto 0;
}

.menu-link {
  display: block;
  text-align: center;
  color: #aaaaaa;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 11px;
  text-decoration: none;
  padding-top: 30px;
  background-image: url(../images/menu.png);
  background-repeat: no-repeat;
  background-position: top center;
  position: fixed;
  left: 14px;
}

.menu-link:hover {
  text-decoration: underline;
}

.social-networks {
  transform: rotate(-90deg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  position: fixed;
  bottom: 120px;
  left: -85px;
}

.social-network {
  list-style-type: none;
}

.social-network-link {
  display: block;
  color: #aaaaaa;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.social-network-link:hover {
  text-decoration: underline;
}

.inst {
  padding-left: 25px;
  background-image: url(../images/instagram.png);
  background-repeat: no-repeat;
  background-position: left center;
}

.vk {
  padding-left: 30px;
  background-image: url(../images/vk.png);
  background-repeat: no-repeat;
  background-position: left center;
}

.about-us-block {
  background-image: url(../images/topBlockBG.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.content-spase {
  margin-left: 55px;
  margin-right: 95px;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.logo {
  display: block;
  width: 122px;
  height: 54px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
}

.phone-number {
  font-size: 17px;
  font-weight: 900;
  text-decoration: none;
  color: #ffffff;
}

.phone-number:hover {
  opacity: .7;
}

.back-call {

  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  color: #d0cfd0;
  padding-top: 10px;
}

.details-about-us {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  min-height: 450px;
}

.greeting {
  font-weight: 900;
  font-size: 21px;
  color: #10e08b;
}

.about-us-title {
  padding: 30px 0 10px;
  display: block;
  width: 80%;
  font-weight: 900;
  font-size: 56px;
  color: white;
}

.what-we-do {
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 15px;
  color: white;
}

.our-service {
  margin: 20px 10px 60px 0;
  padding-bottom: 10px;
  display: block;
  list-style-type: none;
  width: 250px;
  border-bottom: 2px solid #8f918d;
}

.we-are-cool {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  width: 270px;
  height: 60px;
  background-color: #10e08b;
  position: absolute;
  bottom: 0;
  right: 100px;
  border: none;
  color: white;
  font-weight: 900;
  font-size: 16px;
}

.arrow-down {
  display: block;
  width: 16px;
  height: 31px;
  background-image: url(../images/arrowDown.png);
  background-repeat: no-repeat;
  background-position: center;
}

.we-are-cool:focus {
  outline-color: white;
}

.we-are-cool:hover {
  box-shadow: 0 0 5px 3px white;
}

.only-whith-us-block {
  height: 100vh;
  width: 100%;
  display: flex;
}

.only-whith-us-left-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/video.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  min-width: 677px;
  height: 100vh;
}

.play-button {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  color: white;
}

.play-button:focus {
  outline: none;
  opacity: 0.7;
  cursor: pointer;
}

.play-button:hover {
  text-decoration: underline;
}

.play-icon {
  background-image: url(../images/videoPlayButton.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 76px;
  height: 77px;
}

.button-sign {
  color: white;
  font-weight: 700;
  font-size: 15px;
}

.positioning-space-between-colom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.block-title {
  color: black;
  text-align: left;
  font-weight: 900;
  font-size: 48px;
  padding: 110px 0 50px;
}

.only-whith-us-content-block {
  display: flex;
  height: auto;
  min-height: 400px;
  flex-direction: column;
  justify-content: space-between;
}

.whith-us-text {
  color: black;
  text-align: left;
  font-weight: 400;
  font-size: 21px;
  padding-bottom: 10px;
}

.places-of-working {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 70px;
}

.place-of-working {
  width: 255px;
  height: 195px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
}

.place-of-working-icon {
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 10px;
}

.world {
  width: 75px;
  height: 75px;
  background-image: url(../images/world.png);
}

.spaceman {
  width: 77px;
  height: 82px;
  background-image: url(../images/spaceman.png);
}

.place-of-working-text {
  padding: 10px;
  color: black;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}

.how-it-was-block {
  padding: 80px 0 155px;
}

.title-center {
  text-align: center;
  padding: 0;
}

.how-it-was-top-block {
  padding: 80px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slogan {
  color: #999999;
  text-align: center;
  font-weight: 200;
  font-size: 32px;
  width: auto;
  max-width: 261px;
}

.slogan-green {
  color: #10e08b;
}
